.FAQ {
    width: 250px;
    height: 100px;
    background-color: black;
    color: white;
    position: absolute;
    left: 55%;
    top: 12%;
    opacity: 0.8;
    box-shadow: 3px 3px 20px black;
    text-align: center;
    padding: 5px;
    font: small-caps 16px sans-serif;
}