.block {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-top: -5px;
}

.pit {
    background-image: url("./../../../Img/pit.jpg");
}

.road {
    background-image: url("./../../../Img/road.jpg");
}